services:
  backend:
    image: thalissondev/portfolio-backend:latest
    container_name: backend-container
    restart: always
    environment:
      - SERVER_PORT=8080
      - EMAIL=${EMAIL}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
    networks:
      - portfolio-network

  frontend:
    image: thalissondev/portfolio-frontend:latest
    container_name: frontend-container
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge