@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-terminal-black text-gray-300 font-sans;
  /* Evita rolagem lateral indesejada */
  overflow-x: hidden; 
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-terminal-black;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

app-root {
  display: block;
}

/* --- MUDANÇA AQUI: Removi o position absolute que quebrava o layout --- */

main {
  /* Removemos position: relative e height fixo */
  width: 100%;
  /* Flex grow já está no app.component, então aqui só garantimos largura */
}

/* Wrapper Mágico para Animação sem bugs */
.animation-wrapper {
  display: grid;
  grid-template-columns: 1fr; /* Uma única coluna */
  width: 100%;
}

.animation-wrapper > * {
  /* Força todas as páginas a ficarem na mesma posição (empilhadas) */
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  
  /* Garante que o conteúdo dite a altura */
  min-height: 0; 
  min-width: 0;
}